.current-container {
    display: flex;
    border-width: 10px;
    justify-content: space-between;
}

.five-day {
    display: flex;
    justify-content: space-evenly;
}

.card {
    text-justify: auto;
    background-color: rgb(91, 162, 185);
    width: 120px;
    height: 200px;
}